@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mdx-content p {
    @apply mb-4; /* Add spacing between paragraphs */
  }

  .mdx-content img {
    @apply h-auto max-w-full; /* Ensure images don't overflow and maintain aspect ratio */
  }

  .mdx-content h1 {
    @apply mb-4 text-3xl font-bold; /* Style for h1 headings */
  }

  .mdx-content h2 {
    @apply mb-3 text-2xl font-bold; /* Style for h2 headings */
  }

  .mdx-content h3 {
    @apply mb-2 text-xl font-bold; /* Style for h3 headings */
  }

  .mdx-content a {
    @apply text-blue-600 hover:underline; /* Style for links */
  }

  .mdx-content ul {
    @apply mb-4 list-disc pl-5; /* Style for unordered lists */
  }

  .mdx-content ol {
    @apply mb-4 list-decimal pl-5; /* Style for ordered lists */
  }

  .mdx-content blockquote {
    @apply mb-4 border-l-4 border-gray-300 pl-4 italic; /* Style for blockquotes */
  }

  .mdx-content code {
    @apply rounded bg-gray-100 p-1 text-sm; /* Style for inline code */
  }

  .mdx-content pre {
    @apply mb-4 rounded bg-gray-100 p-4; /* Style for code blocks */
  }

  .float-image {
    @apply float-right mb-4 ml-4 w-48; /* Adjust width as needed */
    height: auto; /* Ensure the height adjusts automatically */
    object-fit: contain; /* Maintain aspect ratio */
  }
}
html,
body {
  @apply bg-white dark:bg-gray-950;
  scroll-behavior: smooth;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  mjx-container {
    display: inline-block;
  }

  .prose {
    h1,
    h2,
    h3,
    h4 {
      scroll-margin-top: 100px; /* Adjust based on header height */
      position: relative;
      color: var(--primary);

      a[aria-hidden="true"] {
        @apply absolute -left-6 top-1/2 -translate-y-1/2 opacity-0 transition-opacity;
        &:hover {
          @apply opacity-100;
        }
        &::before {
          content: "#";
          @apply text-muted-foreground;
        }
      }

      &:hover a[aria-hidden="true"] {
        @apply opacity-100;
      }
    }
  }
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4 {
    scroll-margin-top: 100px;
    @apply text-primary;
  }
  .prose ul li strong {
    @apply text-primary;
  }
}
h1 {
  @apply my-4 text-4xl font-bold;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    /* Sidebar variables */
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 217.2 91.2% 59.8%;

    /* Sidebar variables */
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
